# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules/
dist/
.vscode/
*.log
*.lock

# Build scripts and config files not needed in distribution
package-lock.json
.eslintrc
.eslintignore
.npmrc
.editorconfig
esbuild.config.mjs
tsconfig.json
version-bump.mjs
versions.json

# compiled output
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
